{% extends 'backend/dashboard.html'%}

{% block content %}
<div class="content-wrap">
    <div class="ml-5 mt-3">
        <form method="post" action="{% url 'product_detail'%}" enctype="multipart/form-data">
            {% csrf_token %}
            <div class="form-group">
                <label>Add Product Caption</label>
                <input type="text" name="caption" class="form-control" placeholder="Add Caption">
            </div>
            <div class="form-group">
                <label>Product Category</label>
                <select class="form-select" aria-label="Default select example" name="category_name">
    
                    <option selected>Select a Category</option>
                    {% for i in category_data %}
                    <option value="{{i.id}}">{{i.catagory}}</option>
                    {% endfor %}
                  </select>
            </div>
            <div class="form-group">
                <label>Product Old Price</label>
                <input type="text" name="old_price" class="form-control" placeholder="Old price">
            </div>
            <div class="form-group">
                <label>Product new Price</label>
                <input type="text" name="new_price" class="form-control" placeholder="new price">
            </div>
            <div class="form-group">
                <label>Add Product Description</label>
                <textarea name="description" rows="4" cols="50"></textarea>
            </div>
            <div class="form-group">
                <label>Add Product Images(select all image at a time)</label>
                <input type="file" name="fiture_image" class="form-control" required>
            </div>
           
            <div class="form-group">
                <label>Add Product Images(select all image at a time)</label>
                <input type="file" name="product_image" class="form-control" multiple required>
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    
    </div>
</div>

    {% endblock %}